In [6]:
import csv
filename = "smallfile.csv"
durations = []
with open(filename, 'r') as csvfile:
    filereader = csv.reader(csvfile, delimiter=',')
    header = next(filereader)
    for row in filereader:
        durations.append(int(row[0]))
print (durations)

[923, 379, 589, 889, 1480, 332, 2321, 694, 1376]

In [8]:
import pandas as pd

filename = 'smallfile.csv'

df = pd.read_csv(filename, sep=',')

print (df)

   tripduration          starttime           stoptime  start station id  \
0           923  1/1/2016 00:00:41  1/1/2016 00:16:04               268
1           379  1/1/2016 00:00:45  1/1/2016 00:07:04               476
2           589  1/1/2016 00:00:48  1/1/2016 00:10:37               489
3           889  1/1/2016 00:01:06  1/1/2016 00:15:56               268
4          1480  1/1/2016 00:01:12  1/1/2016 00:25:52              2006
5           332  1/1/2016 00:01:19  1/1/2016 00:06:51              3104
6          2321  1/1/2016 00:01:27  1/1/2016 00:40:08              3167
7           694  1/1/2016 00:02:18  1/1/2016 00:13:53               268
8          1376  1/1/2016 00:03:12  1/1/2016 00:26:09               527

        start station name  start station latitude  start station longitude  \
0    Howard St & Centre St               40.719105               -73.999733
1          E 31 St & 3 Ave               40.743943               -73.979661
2         10 Ave & W 28 St               40.750664               -74.001768
3    Howard St & Centre St               40.719105               -73.999733
4   Central Park S & 6 Ave               40.765909               -73.976342
5        Kent Ave & N 7 St               40.720577               -73.961502
6  Amsterdam Ave & W 73 St               40.779668               -73.980930
7    Howard St & Centre St               40.719105               -73.999733
8          E 33 St & 2 Ave               40.744023               -73.976056

   end station id            end station name  end station latitude  \
0            3002  South End Ave & Liberty St             40.711512
1             498          Broadway & W 32 St             40.748549
2             284       Greenwich Ave & 8 Ave             40.739017
3            3002  South End Ave & Liberty St             40.711512
4            2006      Central Park S & 6 Ave             40.765909
5             389         Broadway & Berry St             40.710446
6            3164      Columbus Ave & W 72 St             40.777057
7             497          E 17 St & Broadway             40.737050
8             259     South St & Whitehall St             40.701221

   end station longitude  bikeid    usertype  birth year  gender
0             -74.015756   22285  Subscriber        1958       1
1             -73.988084   17827  Subscriber        1969       1
2             -74.002638   21997  Subscriber        1982       2
3             -74.015756   22794  Subscriber        1961       2
4             -73.976342   14562  Subscriber        1952       1
5             -73.965251   15788  Subscriber        1984       1
6             -73.978985   24183  Subscriber        1963       1
7             -73.990093   15747  Subscriber        1996       1
8             -74.012342   23933  Subscriber        1963       1

In [9]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [10]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952,1

In [11]:
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952,1
5,332,1/1/2016 00:01:19,1/1/2016 00:06:51,3104,Kent Ave & N 7 St,40.720577,-73.961502,389,Broadway & Berry St,40.710446,-73.965251,15788,Subscriber,1984,1
6,2321,1/1/2016 00:01:27,1/1/2016 00:40:08,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,3164,Columbus Ave & W 72 St,40.777057,-73.978985,24183,Subscriber,1963,1
7,694,1/1/2016 00:02:18,1/1/2016 00:13:53,268,Howard St & Centre St,40.719105,-73.999733,497,E 17 St & Broadway,40.737050,-73.990093,15747,Subscriber,1996,1
8,1376,1/1/2016 00:03:12,1/1/2016 00:26:09,527,E 33 St & 2 Ave,40.744023,-73.976056,259,South St & Whitehall St,40.701221,-74.012342,23933,Subscriber,1963,1

In [12]:
df.tail(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
6,2321,1/1/2016 00:01:27,1/1/2016 00:40:08,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,3164,Columbus Ave & W 72 St,40.777057,-73.978985,24183,Subscriber,1963,1
7,694,1/1/2016 00:02:18,1/1/2016 00:13:53,268,Howard St & Centre St,40.719105,-73.999733,497,E 17 St & Broadway,40.737050,-73.990093,15747,Subscriber,1996,1
8,1376,1/1/2016 00:03:12,1/1/2016 00:26:09,527,E 33 St & 2 Ave,40.744023,-73.976056,259,South St & Whitehall St,40.701221,-74.012342,23933,Subscriber,1963,1

In [13]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,998.111111,1174.777778,40.740233,-73.986162,1455.666667,40.733586,-73.993916,19901.777778,1969.777778,1.222222
std,635.359828,1236.260165,0.022574,0.014459,1312.551047,0.026827,0.018613,3873.266476,14.420279,0.440959
min,332.000000,268.000000,40.719105,-74.001768,259.000000,40.701221,-74.015756,14562.000000,1952.000000,1.000000
25%,589.000000,268.000000,40.719105,-73.999733,389.000000,40.711512,-74.012342,15788.000000,1961.000000,1.000000
50%,889.000000,489.000000,40.743943,-73.980930,498.000000,40.737050,-73.990093,21997.000000,1963.000000,1.000000
75%,1376.000000,2006.000000,40.750664,-73.976342,3002.000000,40.748549,-73.978985,22794.000000,1982.000000,1.000000
max,2321.000000,3167.000000,40.779668,-73.961502,3164.000000,40.777057,-73.965251,24183.000000,1996.000000,2.000000

In [15]:
for index, row in df.iterrows():
    print(index, row['starttime'])

0 1/1/2016 00:00:41
1 1/1/2016 00:00:45
2 1/1/2016 00:00:48
3 1/1/2016 00:01:06
4 1/1/2016 00:01:12
5 1/1/2016 00:01:19
6 1/1/2016 00:01:27
7 1/1/2016 00:02:18
8 1/1/2016 00:03:12

In [16]:
type(df.columns)

pandas.indexes.base.Index

In [29]:
import csv
filename = "201601.csv"
station_entering = []
station_leaving = []

def getkey(item):
    return item[0]

with open(filename, 'r') as csvfile:
    filereader = csv.reader(csvfile, delimiter=',')
    header = next(filereader)
    for row in filereader:
        station_leaving.append(row[4])
        station_entering.append(row[8])
counts = {}
unique_station_entering = set(station_entering)
unique_station_leaving = set(station_leaving)

for station in unique_station_leaving:
    if not station in counts:
        counts[station] = {'entering':0, 'leaving':0, 'difference':0, 'name':station}
    counts[station]['leaving'] = station_leaving.count(station)

for station in unique_station_entering:
    if not station in counts:
        counts[station] = {'entering':0, 'leaving':0, 'difference':0, 'name':station}
    counts[station]['entering'] = station_entering.count(station) 

data_list = []
for station in counts:
    counts[station]['difference'] = int(counts[station]['entering']) - int(counts[station]['leaving'])
    data_list.append((counts[station]['difference'], counts[station]['name']))

data_sorted = sorted(data_list, key = getkey)

print("10 stations may need more pre-set bikes:")
print("")
for i in range(10):
    print (data_sorted[i][1], ' ', round(data_sorted[i][0] / 30))

print("")
print("10 stations may need bigger sizes:")
print("")
for i in range(10):
    print (data_sorted[len(data_sorted) - i - 1][1], ' ', round(data_sorted[len(data_sorted) - i - 1][0] / 30))

10 stations may need more pre-set bikes:

PABT Valet   -23
Penn Station Valet   -15
Broadway & W 55 St   -14
E 7 St & Avenue A   -14
Pershing Square South   -14
Bialystoker Pl & Delancey St   -10
Allen St & E Houston St   -10
Clark St & Henry St   -10
Broadway & W 37 St   -9
W 52 St & 9 Ave   -9

10 stations may need bigger sizes:

W 33 St & 7 Ave   20
W 41 St & 8 Ave   19
DeKalb Ave & Hudson Ave   19
12 Ave & W 40 St   15
Greenwich St & Warren St   12
E 6 St & Avenue B   11
Pearl St & Hanover Square   11
W Broadway & Spring St   10
Greenwich Ave & 8 Ave   8
E 17 St & Broadway   7